In [ ]:
#########################################################################
#########------- Machine Learning Inmersion ------------#################
#########################################################################
# Capacitador: André Omar Chávez Panduro
# email: andre.chavez@urp.edu.pe
# Introduccion Python - Data Wrangling
# version: 1.0
#########################################################################

In [1]:
1+1

2

El **data wrangling**, a veces denominada **data munging**, es el proceso de transformar y mapear datos de un dataset *raw* (en bruto) en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. Un **data wrangler** es una persona que realiza estas operaciones de transformación.

Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico, así como muchos otros usos potenciales.

In [2]:
# Conexion a Google Colaborative
# Con esto conectan Python con Drive!
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [3]:
import pandas as pd # Pandas es la libreria o el modulo de Python de input/output a la data

In [4]:
data = pd.read_csv("/gdrive/MyDrive/ProgramadeEspecializacionenDataScience/ModuloII_FundamentosdeMachineLearning/Sesion01_IntroduccionyFundamentosdeML/MaterialPractico/Churn-arboles.csv")

In [5]:
# La dimension del dataset
data.shape # Observaciones, variables

(1345, 8)

In [6]:
# Observamos los primeros valores de los datos
#data.head(1)
data.tail()

        ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
1340  4987    38   Femenino   Casado      2  84653.1   Si  No Fuga
1341  4993    95   Femenino  Soltero      2  52997.5   Si     Fuga
1342  4996    70   Femenino   Casado      1  85192.9   Si     Fuga
1343  4998    37  Masculino   Casado      0  11693.3   No  No Fuga
1344  4999    41  Masculino   Casado      0  59898.4   No  No Fuga

In [7]:
data.head(5)

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga
1   4    68   Femenino   Casado      2  81000.9   No     Fuga
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga
3  10    60  Masculino   Casado      2  83220.6   No     Fuga
4  13    28   Femenino   Casado      2  20850.4   No     Fuga

### Crear un subconjunto de datos

#### Subconjunto de columna o columnas

In [8]:
data_Genero = data["SEXO"]

In [9]:
data_Genero.head()

0     Femenino
1     Femenino
2    Masculino
3    Masculino
4     Femenino
Name: SEXO, dtype: object

In [10]:
type(data_Genero)

pandas.core.series.Series

In [11]:
subset = data[["EDAD", "CIVIL", "INGRESO"]]

In [12]:
subset.head()

   EDAD    CIVIL  INGRESO
0    57   Casado  27535.3
1    68   Casado  81000.9
2    34  Soltero  87467.1
3    60   Casado  83220.6
4    28   Casado  20850.4

In [13]:
data.head(1)

   ID  EDAD      SEXO   CIVIL  HIJOS  INGRESO AUTO CHURN
0   0    57  Femenino  Casado      2  27535.3   Si  Fuga

In [16]:
# Ejercicio N°01
# Crear un dataframe con las columnas SEXO, INGRESO Y la variable Target
subset_2 = data[["SEXO", "INGRESO", "CHURN"]]
subset_2.head()

        SEXO  INGRESO    CHURN
0   Femenino  27535.3     Fuga
1   Femenino  81000.9     Fuga
2  Masculino  87467.1  No Fuga
3  Masculino  83220.6     Fuga
4   Femenino  20850.4     Fuga

In [18]:
subset_2.head(3)

        SEXO  INGRESO    CHURN
0   Femenino  27535.3     Fuga
1   Femenino  81000.9     Fuga
2  Masculino  87467.1  No Fuga

In [19]:
type(subset)

pandas.core.frame.DataFrame

In [20]:
# Siempre es muy usado generar una lista de nombres de columnas y después generar el subset de datos
columnas_input = ["EDAD","AUTO"]
# Del dataset elegimos las columnas anteriormente seleccionadas
subset = data[columnas_input]
# Mostramos lo deseado
subset.head()

   EDAD AUTO
0    57   Si
1    68   No
2    34   Si
3    60   No
4    28   No

In [21]:
data.head(1)

   ID  EDAD      SEXO   CIVIL  HIJOS  INGRESO AUTO CHURN
0   0    57  Femenino  Casado      2  27535.3   Si  Fuga

In [23]:
# Ejercicio N°02
# Generar una lista de variables con las variables Estado Civil, Ingreso y auto.
columnas_input =["CIVIL", "INGRESO", "AUTO"]
subset = data[columnas_input]
subset.head()

     CIVIL  INGRESO AUTO
0   Casado  27535.3   Si
1   Casado  81000.9   No
2  Soltero  87467.1   Si
3   Casado  83220.6   No
4   Casado  20850.4   No

In [24]:
# Podemos generar otra lista de columnas que no deseemos y por complemento retirarlas del set de datos
columnas_no_input = ["ID", "EDAD"]
columnas_no_input

['ID', 'EDAD']

In [27]:
data.columns.values.tolist

In [28]:
# Genero la lista total de variables
columnas_totales = data.columns.values.tolist()
columnas_totales

['ID', 'EDAD', 'SEXO', 'CIVIL', 'HIJOS', 'INGRESO', 'AUTO', 'CHURN']

In [29]:
# Me quedo con las columnas necesarias
columnas_complemento = [x for x in columnas_totales if x not in columnas_no_input]
columnas_complemento

['SEXO', 'CIVIL', 'HIJOS', 'INGRESO', 'AUTO', 'CHURN']

In [30]:
subset2 = data[columnas_complemento]
subset2.head()

        SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
0   Femenino   Casado      2  27535.3   Si     Fuga
1   Femenino   Casado      2  81000.9   No     Fuga
2  Masculino  Soltero      0  87467.1   Si  No Fuga
3  Masculino   Casado      2  83220.6   No     Fuga
4   Femenino   Casado      2  20850.4   No     Fuga

In [32]:
# Ejercicio N°03
# Generar una lista con columnas no deseadas como CIVIL, AUTO, HIJOS y CHURN, y de las columnas totales suprimirlas
columnas_no_input = ["CIVIL", "AUTO", "HIJOS", "CHURN"]
columnas_complemento = [x for x in columnas_totales if x not in columnas_no_input]
subset3 = data[columnas_complemento]
subset3.head()

   ID  EDAD       SEXO  INGRESO
0   0    57   Femenino  27535.3
1   4    68   Femenino  81000.9
2   8    34  Masculino  87467.1
3  10    60  Masculino  83220.6
4  13    28   Femenino  20850.4

#### Subconjunto de filas

In [34]:
data[:5]

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga
1   4    68   Femenino   Casado      2  81000.9   No     Fuga
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga
3  10    60  Masculino   Casado      2  83220.6   No     Fuga
4  13    28   Femenino   Casado      2  20850.4   No     Fuga

In [35]:
data[0:15]

    ID  EDAD       SEXO    CIVIL  HIJOS   INGRESO AUTO    CHURN
0    0    57   Femenino   Casado      2  27535.30   Si     Fuga
1    4    68   Femenino   Casado      2  81000.90   No     Fuga
2    8    34  Masculino  Soltero      0  87467.10   Si  No Fuga
3   10    60  Masculino   Casado      2  83220.60   No     Fuga
4   13    28   Femenino   Casado      2  20850.40   No     Fuga
5   17    52  Masculino  Soltero      0  84112.60   No  No Fuga
6   19    87   Femenino  Soltero      2   3776.12   No     Fuga
7   20    88   Femenino   Casado      2  73865.90   Si     Fuga
8   22    76  Masculino   Casado      2  30933.60   Si  No Fuga
9   23    76   Femenino   Casado      1  12309.60   No     Fuga
10  26    87  Masculino  Soltero      0  69864.00   No     Fuga
11  28    90   Femenino   Casado      0  91620.60   No  No Fuga
12  30    62  Masculino  Soltero      0  96501.90   Si  No Fuga
13  31    81  Masculino  Soltero      1   3968.54   No  No Fuga
14  32    50   Femenino   Casado      2  13774.20   No     Fuga

In [36]:
data[:15] # CORRECCIÓN: es lo mismo que data[0:8]

    ID  EDAD       SEXO    CIVIL  HIJOS   INGRESO AUTO    CHURN
0    0    57   Femenino   Casado      2  27535.30   Si     Fuga
1    4    68   Femenino   Casado      2  81000.90   No     Fuga
2    8    34  Masculino  Soltero      0  87467.10   Si  No Fuga
3   10    60  Masculino   Casado      2  83220.60   No     Fuga
4   13    28   Femenino   Casado      2  20850.40   No     Fuga
5   17    52  Masculino  Soltero      0  84112.60   No  No Fuga
6   19    87   Femenino  Soltero      2   3776.12   No     Fuga
7   20    88   Femenino   Casado      2  73865.90   Si     Fuga
8   22    76  Masculino   Casado      2  30933.60   Si  No Fuga
9   23    76   Femenino   Casado      1  12309.60   No     Fuga
10  26    87  Masculino  Soltero      0  69864.00   No     Fuga
11  28    90   Femenino   Casado      0  91620.60   No  No Fuga
12  30    62  Masculino  Soltero      0  96501.90   Si  No Fuga
13  31    81  Masculino  Soltero      1   3968.54   No  No Fuga
14  32    50   Femenino   Casado      2  13774.20   No     Fuga

In [37]:
data[0:4]

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga
1   4    68   Femenino   Casado      2  81000.9   No     Fuga
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga
3  10    60  Masculino   Casado      2  83220.6   No     Fuga

#### Subconjuntos de filas con condiciones booleanas

In [40]:
## Clientes con INGRESO > 30000
data1 = data[data.INGRESO>30000]
data1 = data[data["INGRESO"]>30000]
data1.head(3)

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
1   4    68   Femenino   Casado      2  81000.9   No     Fuga
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga
3  10    60  Masculino   Casado      2  83220.6   No     Fuga

In [41]:
data.CHURN.value_counts()

No Fuga    832
Fuga       513
Name: CHURN, dtype: int64

In [42]:
## Clientes Fugados (CHURN = "Fuga")
data2 = data[data["CHURN"]=="Fuga"]
data2.head(4)

   ID  EDAD       SEXO   CIVIL  HIJOS  INGRESO AUTO CHURN
0   0    57   Femenino  Casado      2  27535.3   Si  Fuga
1   4    68   Femenino  Casado      2  81000.9   No  Fuga
3  10    60  Masculino  Casado      2  83220.6   No  Fuga
4  13    28   Femenino  Casado      2  20850.4   No  Fuga

In [43]:
## AND -> &
data3 = data[(data["INGRESO"]>30000) & (data["CHURN"]=="No Fuga")]
data3.shape

(612, 8)

In [44]:
## OR -> |
data4 = data[(data["SEXO"]=="Femenino") | (data["CHURN"]=="Fuga")]
data4.head(6)

   ID  EDAD       SEXO    CIVIL  HIJOS   INGRESO AUTO CHURN
0   0    57   Femenino   Casado      2  27535.30   Si  Fuga
1   4    68   Femenino   Casado      2  81000.90   No  Fuga
3  10    60  Masculino   Casado      2  83220.60   No  Fuga
4  13    28   Femenino   Casado      2  20850.40   No  Fuga
6  19    87   Femenino  Soltero      2   3776.12   No  Fuga
7  20    88   Femenino   Casado      2  73865.90   Si  Fuga

In [45]:
# Ejercicio N°04
# Generar un subset de clientes con ingresos mayores a 1000 soles, No Fugados y con edades mayores a 28 años.
data4 = data[(data.INGRESO>1000) & (data["CHURN"]=="No Fuga") & (data.EDAD>28)]
data4.shape

(728, 8)

In [ ]:
## EDAD, AUTO y CHURN de los primeros 20 individuos
subset_primeros_50 = data[["EDAD", "AUTO", "CHURN"]][:50]
subset_primeros_50.head()

   EDAD AUTO    CHURN
0    57   Si     Fuga
1    68   No     Fuga
2    34   Si  No Fuga
3    60   No     Fuga
4    28   No     Fuga

In [ ]:
subset[:10]

   EDAD AUTO
0    57   Si
1    68   No
2    34   Si
3    60   No
4    28   No
5    52   No
6    87   No
7    88   Si
8    76   Si
9    76   No

#### Filtrado con ix -> loc e iloc

In [ ]:
data.ix[1:10, 3:6] ## Primeras 10 filas, columnas de la 3 a la 6

C:\Users\Andre Chavez\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

      CIVIL  HIJOS   INGRESO
1    Casado      2  81000.90
2   Soltero      0  87467.10
3    Casado      2  83220.60
4    Casado      2  20850.40
5   Soltero      0  84112.60
6   Soltero      2   3776.12
7    Casado      2  73865.90
8    Casado      2  30933.60
9    Casado      1  12309.60
10  Soltero      0  69864.00

In [ ]:
data.iloc[0:10 , 2:6] # data[filas,columnas]

        SEXO    CIVIL  HIJOS   INGRESO
0   Femenino   Casado      2  27535.30
1   Femenino   Casado      2  81000.90
2  Masculino  Soltero      0  87467.10
3  Masculino   Casado      2  83220.60
4   Femenino   Casado      2  20850.40
5  Masculino  Soltero      0  84112.60
6   Femenino  Soltero      2   3776.12
7   Femenino   Casado      2  73865.90
8  Masculino   Casado      2  30933.60
9   Femenino   Casado      1  12309.60

In [ ]:
data.iloc[:,3:6] ##Todas las filas para las columnas entre la 3 y la 6
data.iloc[1:10,:] ##Todas las columnas para las filas de la 1 a la 10

   ID  EDAD       SEXO    CIVIL  HIJOS   INGRESO AUTO    CHURN
1   4    68   Femenino   Casado      2  81000.90   No     Fuga
2   8    34  Masculino  Soltero      0  87467.10   Si  No Fuga
3  10    60  Masculino   Casado      2  83220.60   No     Fuga
4  13    28   Femenino   Casado      2  20850.40   No     Fuga
5  17    52  Masculino  Soltero      0  84112.60   No  No Fuga
6  19    87   Femenino  Soltero      2   3776.12   No     Fuga
7  20    88   Femenino   Casado      2  73865.90   Si     Fuga
8  22    76  Masculino   Casado      2  30933.60   Si  No Fuga
9  23    76   Femenino   Casado      1  12309.60   No     Fuga

In [ ]:
# Generamos un subset a nivel de filas y columnas
#data.iloc[1:10,[2,5,7]]
data.iloc[0:20,[1,5]]

    EDAD   INGRESO
0     57  27535.30
1     68  81000.90
2     34  87467.10
3     60  83220.60
4     28  20850.40
5     52  84112.60
6     87   3776.12
7     88  73865.90
8     76  30933.60
9     76  12309.60
10    87  69864.00
11    90  91620.60
12    62  96501.90
13    81   3968.54
14    50  13774.20
15    48  39428.20
16    37   4988.14
17    55  85753.80
18    21  23564.10
19    42  37661.00

In [ ]:
# Puedo hacer el subset de acuerdo a lo que necesite
data.iloc[[1,5,8,36], [2,5,7]]

         SEXO  INGRESO    CHURN
1    Femenino  81000.9     Fuga
5   Masculino  84112.6  No Fuga
8   Masculino  30933.6  No Fuga
36  Masculino  44143.1     Fuga

In [ ]:
data.iloc[[1,5,8,36], [2, 3, 4]]

         SEXO    CIVIL  HIJOS
1    Femenino   Casado      2
5   Masculino  Soltero      0
8   Masculino   Casado      2
36  Masculino  Soltero      0

#### Insertar nuevas filas en el dataframe

In [ ]:
data["Ingreso/Hijo"] = data["INGRESO"]/(data["HIJOS"]+1)

In [ ]:
data.head()

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN  Ingreso/Hijo
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga   9178.433333
1   4    68   Femenino   Casado      2  81000.9   No     Fuga  27000.300000
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga  87467.100000
3  10    60  Masculino   Casado      2  83220.6   No     Fuga  27740.200000
4  13    28   Femenino   Casado      2  20850.4   No     Fuga   6950.133333

In [ ]:
data.head(5)

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN  Ingreso/Hijo
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga   9178.433333
1   4    68   Femenino   Casado      2  81000.9   No     Fuga  27000.300000
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga  87467.100000
3  10    60  Masculino   Casado      2  83220.6   No     Fuga  27740.200000
4  13    28   Femenino   Casado      2  20850.4   No     Fuga   6950.133333

In [ ]:
# Ejercicio N°05
# Generar la variable INGRESO/EDAD o Numero de hijos **2
import numpy as np
np.power(variable,2)

In [ ]:
data.shape

(1345, 9)

In [ ]:
data.head()

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN  Ingreso/Hijo
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga   9178.433333
1   4    68   Femenino   Casado      2  81000.9   No     Fuga  27000.300000
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga  87467.100000
3  10    60  Masculino   Casado      2  83220.6   No     Fuga  27740.200000
4  13    28   Femenino   Casado      2  20850.4   No     Fuga   6950.133333

### Generación aleatoria de números

In [ ]:
import numpy as np

In [ ]:
##Generar un número aleatorio entero entre 1 y 100
np.random.randint(1,100)

91

In [ ]:
##La forma más clásica de generar un número aleatorio es entre 0 y 1 (con decimales)
np.random.random()

0.00305328030781038

In [ ]:
## FIN